@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ===== HEADER ===== */
/* ===== HEADER ===== */

.header {
    width: 100vw;
}

/* === nav-1 === */
/* === nav-1 === */

.nav-1 {
    width: 100%;
    background-color: #f5f5f5;
}

.nav-1-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0px auto;
}

.ul-1 {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: -2.5px;
    margin-bottom: 2px;
}

.ul-1 li {
    margin: 0px 10px;
}

.ul-1 a {
    text-decoration: none;
    color: #777777;
    font-size: 9.5px;
}

.ul-1 li:nth-child(4) {
    background-color: #777777;
    width: 1px;
    height: 15px;
    margin-bottom: -5px;
}

/* === nav-2 === */
/* === nav-2 === */

.nav-2 {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #cccccc;
}

.nav-2-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0px auto;
}

.airtel-logo img {
    width: 95px;
}

.ul-2-1,
.ul-2-2 {
    list-style: none;
    display: flex;
}

.ul-2-1>li {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #555555;
    padding: 20px 10px;
    padding-top: 22px;
    border-bottom: 2px solid transparent;
    position: relative;
}

.ul-2-1>li svg {
    width: 13px;
    margin-left: 5px;
    color: #000000;
}

.ul-2-2 li {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #555555;
    margin: 0px 10px;
}

.ul-2-2 li img {
    margin-bottom: -3px;
}

.ul-2-2 li p {
    margin-top: -3px;
}

/* ===== MAIN ===== */
/* ===== MAIN ===== */

.main {
    display: flex;
    flex-direction: column;
}

/* ===== BANNER ===== */
/* ===== BANNER ===== */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    /* width: 100em;
    height: 19em; */
    width: 175%;
    height: auto;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-pagination {
    margin-bottom: -7px;
}

.swiper-pagination-bullet {
    border-radius: 0px !important;
    height: 3px !important;
    width: 75px !important;
    margin: 0px 8px !important;
    background-color: #dd0000 !important;
}

.swiper-button-prev,
.swiper-button-next {
    color: #dd0000 !important;
    --swiper-navigation-size: 25px;
    font-weight: 700 !important;
    background-color: white !important;
    padding: 20px !important;
    border-radius: 100% !important;
    margin-top: -25px !important;
}

.swiper-button-prev {
    margin-left: 75px;
}

.swiper-button-next {
    margin-right: 75px;
}

/* ===== RED BOX ===== */
/* ===== RED BOX ===== */

.redbox {
    background-image: linear-gradient(135deg, #b00, #8d0000);
    height: 150px;
}

.redbox-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0px auto;
    color: white;
}

/* === left-content === */
/* === left-content === */

.left-content h3 {
    font-size: 24px;
    font-weight: 500;
}

.left-content h5 {
    font-size: 18px;
    font-weight: 400;
}

/* === right-content === */
/* === right-content === */

.right-content {
    width: 544px;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

.button-wrapper button {
    display: flex;
    align-items: center;
    font-size: 12.5px;
    font-weight: 500;
    padding: 5px 8px;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.button-wrapper button:first-child {
    background-color: white;
    color: #dd0000;
}

.button-wrapper img {
    filter: brightness(5);
    margin-right: 7px;
}

.button-wrapper button:first-child img {
    filter: brightness(1);
}

.input-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.input-wrapper input {
    width: 100%;
    outline: none;
    padding: 12px 12px;
}

.input-wrapper button {
    height: max-content;
    background-color: #dd0000;
    color: white;
    padding: 7px 20px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 13px;
}

/* ===== EFFECTS ===== */
/* ===== EFFECTS ===== */

.ul-1 a:hover {
    font-weight: 600;
    color: #555555;
}

.bi {
    transition: .3s;
}

.ul-2-1>li:hover {
    border-bottom: 2px solid #ee0000;
    cursor: pointer;
}

.ul-2-1>li:hover .action {
    color: #ee0000;
}

.ul-2-1>li:hover .bi {
    transform: rotate(-180deg);
    fill: #dd0000;
}

.ul-2-2>li:hover {
    cursor: pointer;
}

/* === hidden-ul === */
.hidden-ul {
    position: absolute;
    top: 85px;
    left: -30px;
    list-style: none;
    width: max-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    background-color: white;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}

.hidden-ul a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    display: block;
    padding: 10px 30px;
}

.hidden-ul a:hover {
    background-color: #f1f1f1;
    color: #ee0000;
}

.ul-2-1>li:hover .hidden-ul {
    top: 65px;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
}

.button-wrapper button:hover {
    background-color: white;
    color: #dd0000;
}

.button-wrapper button:hover .icon {
    filter: brightness(1);
}

/* ===== RESPONSIVE ===== */
/* ===== RESPONSIVE ===== */

@media screen and (max-width: 1300px) {

    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }

    .nav-1-container,
    .nav-2-container,
    .redbox-content {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1050px) {

    .nav-1-container,
    .nav-2-container,
    .redbox-content {
        max-width: 950px;
    }
}

.airtel-logo {
    display: flex;
    align-items: center;
}

/* === menu-bar === */

.airtel-logo img:first-child {
    display: none;
    width: 20px;
    margin-right: 15px;
}

@media screen and (max-width: 975px) {

    /* ===== HEADER ===== */
    .nav-2,
    .nav-2-container {
        height: 55px;
    }

    .nav-1-container {
        display: none;
    }

    .ul-2-1-wrapper {
        display: none;
    }

    .ul-2-2 li:first-child {
        display: none;
    }

    .airtel-logo img:first-child {
        display: block;
    }

    .airtel-logo img:first-child:hover {
        cursor: pointer;
    }

    .nav-2-container {
        margin: 0px 20px;
        width: auto;
    }

    /* ===== MAIN ===== */

    .main {
        flex-direction: column-reverse;
    }

    /* ===== RED BOX ===== */

    .redbox {
        height: 175px;
    }

    .redbox-content {
        flex-direction: column;
        justify-content: center;
    }

    .left-content {
        margin-bottom: 20px;
    }

    .left-content h3 {
        font-size: 15px;
        position: relative;
    }

    .left-content h3::after {
        position: absolute;
        content: "";
        width: 25px;
        height: 2px;
        background-color: white;
        bottom: -3px;
        left: 45%;
    }

    .left-content h5 {
        display: none;
    }

    .button-wrapper {
        width: auto;
        justify-content: center;
        flex-wrap: wrap;
    }

    .button-wrapper button {
        margin: 0px 5px;
    }

    .icon {
        display: none;
    }
}

@media screen and (max-width: 575px) {

    /* ===== RED BOX ===== */
    .right-content {
        width: 500px;
    }

    .button-wrapper button,
    .input-wrapper button {
        font-size: 11.5px;
        font-weight: 400px;
    }

    .swiper-pagination-bullet {
        width: 47px !important;
        margin: 0px 7px !important;
    }
}

@media screen and (max-width: 525px) {

    /* ===== RED BOX ===== */
    .right-content {
        width: 450px;
    }
}

@media screen and (max-width: 475px) {

    /* ===== RED BOX ===== */
    .right-content {
        width: 360px;
    }

    .button-wrapper button {
        font-size: 10px;
        font-weight: 400px;
    }
}

/* ===== RESPONSIVE SIDEBAR ===== */
/* ===== RESPONSIVE SIDEBAR ===== */

.res-alpha-bg {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.res-ul {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 75%;
    height: 75%;
    overflow: scroll;
    background-color: white;
    margin-left: -75%;
    transition: .3s;
}

.res-ul li div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(85, 85, 85);
    border-bottom: 1px solid #e5e5e5;
}

.res-ul svg {
    width: 13px;
    transform: none;
    transition: 0.3s;
}

.res-hidden-ul {
    list-style: none;
    max-height: 0px;
    overflow: hidden;
    transition: .3s;
}

.res-hidden-ul li {
    padding: 10px 30px;
}

.res-hidden-ul a {
    text-decoration: none;
    color: #555555;
    font-size: 13px;
    font-weight: 500;
}

.res-hidden-ul li:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.res-hidden-ul li:hover a {
    color: #dd0000;
}

.res-bottom {
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: white;
    width: 75%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: -75%;
    transition: .3s;
}

.res-bottom button {
    margin-top: 25px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 90px;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.res-ul-bottom {
    list-style: none;
    display: flex;
}

.res-ul-bottom a {
    text-decoration: none;
    color: #555555;
    font-size: 11px;
    font-weight: 500;
    margin: 0px 7px;
}

.res-red-bottom {
    width: 100%;
    height: 5px;
    background-color: #dd0000;
}

@media screen and (min-width: 976px) {
    .res-alpha-bg {
        display: none !important;
    }

    .res-ul {
        display: none !important;
    }

    .res-bottom {
        display: none !important;
    }
}